[Desktop Entry]
Type=Application
Name=Highlight Clips
Comment=Browse and play GPU Screen Recorder Clips
Exec=__PROJECT_DIR__/hc.sh
Icon=__PROJECT_DIR__/Highlight_Clips/icon.png
Terminal=false
Categories=AudioVideo;Video;
